header{
    position: relative;
}

h1{
    display: inline-block;
    z-index: 2;
    margin-top: 0.5%;
    margin-right: 80%;
    text-align: left;
}

.search{
    position: absolute;
    display: inline-block;
    z-index: 3;
    margin-top: -3.5%;
    margin-left: -15%;
}

.results{
    position: absolute;
    display: inline-block;
    margin-top: -3.5%;
    margin-left: 10%;
    z-index: 2;
}

.shuffler{
    position: absolute;
    margin-top: -3.25%;
    z-index: 2;
    display: inline-block;
}

.works-total{
    display: flex; 
    flex-wrap: wrap;
}

.works-col{
    flex: 25%;
    max-width: 24.5%;
    padding: 0.2%;
}

.work-img{
    vertical-align: middle;
}

.loading-icon{
    width:2%;
    height:2%;
}

/*
.work-display1{
    margin-left:10%;
    margin-right:5%;
}

.work-display2{
    margin-right:10%;
    margin-left:5%;
}
*/