.header{
    position: fixed;
    top: 0;
    background-color: white;
    height: 7%;
    width: 100%;
}

.header h1{
    float: left;
    z-index: 2;
    margin-top: 0.25%;
    margin-left: 1.5%;
    text-align: left;
}

.header form{
    position: absolute;
    float: left;
    text-align: center;
    z-index: 3;
    margin-top: 1%;
    margin-left: 25%;
}

.shuffler{
    float: left;
    position: absolute;
    margin-top: 1.15%;
    margin-left: -15%;
    z-index: 2;
}

.header div{
    position: absolute;
    float: left;
    text-align: center;
    margin-top: 1.1%;
    margin-left: 50%;
    z-index: 2;
}

.works-total{
    margin-top: 3.5%;
    display: flex; 
    flex-wrap: wrap;
}

.works-col{
    flex: 25%;
    max-width: 24.5%;
    padding: 0.2%;
}

.work-img{
    vertical-align: middle;
}

.loading-icon{
    width:2%;
    height:2%;
}

/*
.work-display1{
    margin-left:10%;
    margin-right:5%;
}

.work-display2{
    margin-right:10%;
    margin-left:5%;
}
*/