.works{
    display:flex; 
    flex-direction:row;
}

.loading-icon{
    width:2%;
    height:2%;
}

.work-display1{
    margin-left:10%;
    margin-right:5%;
}

.work-display2{
    margin-right:10%;
    margin-left:5%;
}