
img {
    width: 100%;
    object-fit: cover;
}

.thumbnail:hover {
    position:relative;
    height:auto;
    display:block;
    z-index:1;
}

.painting-data{
    height:100%;
    width:100%;
    background-size: cover;
}