img {
    width: 100%;
    object-fit: cover;
}

.expander {
    position: absolute;
    margin-left: -12.2%;
    border: transparent;
    background-color: rgba(255,255,255,0.4);
    z-index: 3;
}

.expander:hover {
    cursor: pointer;
}

.fullScreen {
    display: none;
    position: fixed;
    z-index: 4;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    padding-top: 20px;
    left: 0;
    top: 0;
    overflow: auto;
}

.fullScreenImg {
    margin: auto;
    margin-left: 15%;
    display: block;
    width: 55%;
    max-width: 525px;

}

.close-img {
    margin-right: 35%;
}

.close-img:hover {
    cursor: pointer;
}

.thumbnail:hover{
    cursor: pointer;
}


.painting-data{
    height:100%;
    width:100%;
    background-size: cover;
}

.caption {
    position: absolute;
    padding-top: 10%;
    bottom: 50%;
    color: white;
    margin-left: 55%;
    margin-top: -25%;
    font-size: 16pt;
    text-align: left;
}